---
http_interactions:
- request:
    method: post
    uri: https://auth.brivo.com/oauth/token?grant_type=password&password=brivo_password&username=brivo_username
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <authorization code>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:8080
    body:
      encoding: UTF-8
      string: '{"access_token":"<access token>","token_type":"bearer","refresh_token":"<refresh
        token>","expires_in":59,"scope":"brivo.api","jti":"e1b6d66b-29a2-4d32-94fc-4f9e7940d78d"}'
  recorded_at: Wed, 13 Sep 2017 14:50:46 GMT
- request:
    method: get
    uri: https://api.brivo.com/v1/api/credentials?filter=status__eq:assigned&offset=0&pageSize=100
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer <access token>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Brivo-Api-Version:
      - 1.18.1-5
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - api:default,api03-prod:8080
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-129.mashery.com
    body:
      encoding: UTF-8
      string: '{"data":[{"id":22197840,"credentialFormat":{"id":100,"name":"Standard
        26 Bit"},"referenceId":"200","encodedCredential":"2020190","fieldValues":[{"id":1,"value":"200","name":"acs.cards.format.card_number"},{"id":2,"value":"1","name":"acs.cards.format.facility_code"}],"size":26,"accountId":1707325},{"id":21104757,"credentialFormat":{"id":100,"name":"Standard
        26 Bit"},"referenceId":"97","encodedCredential":"20200c2","fieldValues":[{"id":1,"value":"97","name":"acs.cards.format.card_number"},{"id":2,"value":"1","name":"acs.cards.format.facility_code"}],"size":26,"accountId":1707325}],"offset":0,"pageSize":100,"count":2}'
  recorded_at: Wed, 13 Sep 2017 14:50:47 GMT
recorded_with: VCR 3.0.3
