---
http_interactions:
- request:
    method: post
    uri: https://auth.brivo.com/oauth/token?grant_type=password&password=brivo_password&username=brivo_username
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <authorization code>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:8080
    body:
      encoding: UTF-8
      string: '{"access_token":"<access token>","token_type":"bearer","refresh_token":"<refresh
        token>","expires_in":59,"scope":"brivo.api","jti":"51dfbb85-1a81-4bef-947c-af15ca863e50"}'
  recorded_at: Wed, 13 Sep 2017 14:50:57 GMT
- request:
    method: get
    uri: https://api.brivo.com/v1/api/users/1/external
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer <access token>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 404
      message: ''
    headers:
      Brivo-Api-Version:
      - 1.18.1-5
      Content-Type:
      - application/json
      X-Application-Context:
      - api:default,api01-prod:8080
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-121.mashery.com
    body:
      encoding: UTF-8
      string: '{"message":"Requested user not found","code":404}'
  recorded_at: Wed, 13 Sep 2017 14:50:57 GMT
[...]
- request:
    method: post
    uri: https://api.brivo.com/v1/api/users
    body:
      encoding: UTF-8
      string: '{"firstName":"first","lastName":"last","externalId":1,"suspended":false}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer <access token>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Brivo-Api-Version:
      - 1.18.1-5
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - api:default,api03-prod:8080
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-117.mashery.com
    body:
      encoding: UTF-8
      string: '{"id":15540780,"externalId":"1","firstName":"first","lastName":"last","suspended":false}'
  recorded_at: Wed, 13 Sep 2017 14:50:59 GMT
recorded_with: VCR 3.0.3
