---
http_interactions:
- request:
    method: post
    uri: https://auth.brivo.com/oauth/token?grant_type=password&password=<password>&username=<username>
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <authorization code>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:8080
    body:
      encoding: UTF-8
      string: '{"access_token":"<access token>","token_type":"bearer","refresh_token":"<refresh
        token>","expires_in":59,"scope":"brivo.api","jti":"bce93058-c23d-4ed2-b7c7-0685a0d68022"}'
  recorded_at: Sun, 16 Jul 2017 23:29:32 GMT
- request:
    method: get
    uri: https://api.brivo.com/v1/api/credentials?filter=status__eq:assigned&offset=0&pageSize=100
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer <access token>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Brivo-Api-Version:
      - 1.15.0-53
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - api:default,api01-prod:8080
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-126.mashery.com
    body:
      encoding: UTF-8
      string: '{"data":[{"id":21104670,"credentialFormat":{"id":100,"name":"Standard
        26 Bit"},"referenceId":"10","encodedCredential":"2020015","fieldValues":[{"id":1,"value":"10","name":"acs.cards.format.card_number"},{"id":2,"value":"1","name":"acs.cards.format.facility_code"}],"size":26,"accountId":1707325},{"id":21104760,"credentialFormat":{"id":100,"name":"Standard
        26 Bit"},"referenceId":"100","encodedCredential":"20200c8","fieldValues":[{"id":1,"value":"100","name":"acs.cards.format.card_number"},{"id":2,"value":"1","name":"acs.cards.format.facility_code"}],"size":26,"accountId":1707325},{"id":21104671,"credentialFormat":{"id":100,"name":"Standard
        26 Bit"},"referenceId":"11","encodedCredential":"2020016","fieldValues":[{"id":2,"value":"1","name":"acs.cards.format.facilit[...]
- request:
    method: get
    uri: https://api.brivo.com/v1/api/credentials/21104670/user
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer <access token>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Brivo-Api-Version:
      - 1.15.0-53
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - api:default,api02-prod:8080
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-135.mashery.com
    body:
      encoding: UTF-8
      string: '{"id":14732179,"externalId":"1694","firstName":"fsdfsdfsdf","lastName":"fsdfsdfsdf","suspended":false}'
  recorded_at: Sun, 16 Jul 2017 23:29:33 GMT
recorded_with: VCR 3.0.3
