---
http_interactions:
- request:
    method: post
    uri: https://auth.brivo.com/oauth/token?grant_type=password&password=brivo_password&username=brivo_username
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <authorization code>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:8080
    body:
      encoding: UTF-8
      string: '{"access_token":"<access token>","token_type":"bearer","refresh_token":"<refresh
        token>","expires_in":59,"scope":"brivo.api","jti":"9c85c0b5-368e-4b1f-b6bd-6d4d9e5e1814"}'
  recorded_at: Wed, 13 Sep 2017 14:50:25 GMT
- request:
    method: post
    uri: https://api.brivo.com/v1/api/groups
    body:
      encoding: UTF-8
      string: '{"name":"group"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer <access token>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Brivo-Api-Version:
      - 1.18.1-5
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - api:default,api02-prod:8080
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-126.mashery.com
    body:
      encoding: UTF-8
      string: '{"id":15540768,"name":"group","keypadUnlock":false,"immuneToAntipassback":false}'
  recorded_at: Wed, 13 Sep 2017 14:50:26 GMT
- request:
    method: delete
    uri: https://api.brivo.com/v1/api/groups/15540768
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer <access token>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Brivo-Api-Version:
      - 1.18.1-5
      X-Application-Context:
      - api:default,api02-prod:8080
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-123.mashery.com
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 13 Sep 2017 14:50:26 GMT
[...]
- request:
    method: get
    uri: https://api.brivo.com/v1/api/groups/15540768
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer <access token>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 404
      message: ''
    headers:
      Brivo-Api-Version:
      - 1.18.1-5
      Content-Type:
      - application/json
      X-Application-Context:
      - api:default,api02-prod:8080
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-128.mashery.com
    body:
      encoding: UTF-8
      string: '{"message":"Unknown Group","code":404}'
  recorded_at: Wed, 13 Sep 2017 14:50:27 GMT
recorded_with: VCR 3.0.3
