---
http_interactions:
- request:
    method: post
    uri: https://auth.brivo.com/oauth/token?grant_type=password&password=brivo_password&username=brivo_username
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <authorization code>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:8080
    body:
      encoding: UTF-8
      string: '{"access_token":"<access token>","token_type":"bearer","refresh_token":"<refresh
        token>","expires_in":59,"scope":"brivo.api","jti":"bd84fa07-84b2-46bf-a323-34bf46131f05"}'
  recorded_at: Wed, 13 Sep 2017 14:50:35 GMT
- request:
    method: get
    uri: https://api.brivo.com/v1/api/credentials?offset=0&pageSize=100
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer <access token>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Brivo-Api-Version:
      - 1.18.1-5
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - api:default,api01-prod:8080
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-115.mashery.com
    body:
      encoding: UTF-8
      string: '{"data":[{"id":22197837,"credentialFormat":{"id":100,"name":"Standard
        26 Bit"},"referenceId":"200","encodedCredential":"2020190","fieldValues":[{"id":2,"value":"1","name":"acs.cards.format.facility_code"},{"id":1,"value":"200","name":"acs.cards.format.card_number"}],"size":26,"accountId":1707325},{"id":21104714,"credentialFormat":{"id":100,"name":"Standard
        26 Bit"},"referenceId":"54","encodedCredential":"202006d","fieldValues":[{"id":1,"value":"54","name":"acs.cards.format.card_number"},{"id":2,"value":"1","name":"acs.cards.format.facility_code"}],"size":26,"accountId":1707325},{"id":22067797,"credentialFormat":{"id":100,"name":"Standard
        26 Bit"},"referenceId":"5435","encodedCredential":"2020002","fieldValues":[{"id":1,"value":"1","name":"acs.cards.format.card_nu[...]
- request:
    method: delete
    uri: https://api.brivo.com/v1/api/credentials/22197837
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer <access token>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Brivo-Api-Version:
      - 1.18.1-5
      X-Application-Context:
      - api:default,api03-prod:8080
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-127.mashery.com
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 13 Sep 2017 14:50:36 GMT
- request:
    method: get
    uri: https://api.brivo.com/v1/api/credentials/formats
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer <access token>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Brivo-Api-Version:
      - 1.18.1-5
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - api:default,api03-prod:8080
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-117.mashery.com
    body:
      encoding: UTF-8
      string: '{"data":[{"id":100,"name":"Standard 26 Bit","credentialFields":[{"id":1,"name":"card_number"},{"id":2,"name":"facility_code"}]},{"id":305,"name":"128-bit
        PIV","credentialFields":[{"id":121,"name":"agency_code"},{"id":122,"name":"system_code"},{"id":123,"name":"credential_number"}]},{"id":301,"name":"30-bit
        Wiegand","credentialFields":[{"id":61,"name":"card_number"},{"id":62,"name":"facility_code"}]},{"id":203,"name":"64-bit
        BCD PIV for CodeBench","credentialFields":[]},{"id":202,"name":"64-bit Reverse
        BCD PIV for CodeBench","[...]
- request:
    method: post
    uri: https://api.brivo.com/v1/api/credentials
    body:
      encoding: UTF-8
      string: '{"credentialFormat":{"id":100},"referenceId":"200","fieldValues":[{"id":1,"value":"200"},{"id":2,"value":"1"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer <access token>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Brivo-Api-Version:
      - 1.18.1-5
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - api:default,api02-prod:8080
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-126.mashery.com
    body:
      encoding: UTF-8
      string: '{"id":22197838,"credentialFormat":{"id":100,"name":"Standard 26 Bit"},"referenceId":"200","encodedCredential":"2020190","fieldValues":[{"id":1,"value":"200","name":"card_number"},{"id":2,"value":"1","name":"facility_code"}],"size":26,"accountId":1707325}'
  recorded_at: Wed, 13 Sep 2017 14:50:40 GMT
[...]
- request:
    method: get
    uri: https://api.brivo.com/v1/api/credentials/22197838
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer <access token>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 404
      message: ''
    headers:
      Brivo-Api-Version:
      - 1.18.1-5
      Content-Type:
      - application/json
      X-Application-Context:
      - api:default,api02-prod:8080
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-127.mashery.com
    body:
      encoding: UTF-8
      string: '{"message":"No credential could be retrieved for credential id: 22197838","code":404}'
  recorded_at: Wed, 13 Sep 2017 14:50:42 GMT
recorded_with: VCR 3.0.3
