---
http_interactions:
- request:
    method: post
    uri: https://auth.brivo.com/oauth/token?grant_type=password&password=brivo_password&username=brivo_username
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <authorization code>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:8080
    body:
      encoding: UTF-8
      string: '{"access_token":"<access token>","token_type":"bearer","refresh_token":"<refresh
        token>","expires_in":59,"scope":"brivo.api","jti":"6a09c86c-ea9e-4973-bb47-e2345225ab4e"}'
  recorded_at: Thu, 31 Aug 2017 17:17:03 GMT
- request:
    method: post
    uri: https://api.brivo.com/v1/api/groups
    body:
      encoding: UTF-8
      string: '{"name":"group"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer <access token>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Brivo-Api-Version:
      - 1.18.1-5
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - api:default,api03-prod:8080
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-122.mashery.com
    body:
      encoding: UTF-8
      string: '{"id":15429369,"name":"group","keypadUnlock":false,"immuneToAntipassback":false}'
  recorded_at: Thu, 31 Aug 2017 17:17:03 GMT
- request:
    method: delete
    uri: https://api.brivo.com/v1/api/groups/15429369
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer <access token>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Brivo-Api-Version:
      - 1.18.1-5
      X-Application-Context:
      - api:default,api03-prod:8080
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-132.mashery.com
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 31 Aug 2017 17:17:04 GMT
[...]
- request:
    method: get
    uri: https://api.brivo.com/v1/api/groups/15429369
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer <access token>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 404
      message: ''
    headers:
      Brivo-Api-Version:
      - 1.18.1-5
      Content-Type:
      - application/json
      X-Application-Context:
      - api:default,api01-prod:8080
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-120.mashery.com
    body:
      encoding: UTF-8
      string: '{"message":"Unknown Group","code":404}'
  recorded_at: Thu, 31 Aug 2017 17:17:05 GMT
recorded_with: VCR 3.0.3
