---
http_interactions:
- request:
    method: post
    uri: https://auth.brivo.com/oauth/token?grant_type=password&password=<password>&username=<username>
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <authorization code>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:8080
    body:
      encoding: UTF-8
      string: '{"access_token":"<access token>","token_type":"bearer","refresh_token":"<refresh
        token>","expires_in":59,"scope":"brivo.api","jti":"f4de72fb-8268-479f-90e8-1290aa3fda2f"}'
  recorded_at: Tue, 01 Aug 2017 17:32:01 GMT
- request:
    method: post
    uri: https://api.brivo.com/v1/api/users
    body:
      encoding: UTF-8
      string: '{"firstName":"first","lastName":"last","externalId":1,"suspended":false}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer <access token>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Brivo-Api-Version:
      - 1.17.0-1
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - api:default,api02-prod:8080
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-123.mashery.com
    body:
      encoding: UTF-8
      string: '{"id":15099980,"externalId":"1","firstName":"first","lastName":"last","suspended":false}'
  recorded_at: Tue, 01 Aug 2017 17:32:01 GMT
- request:
    method: get
    uri: https://api.brivo.com/v1/api/users/15099980
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer <access token>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Brivo-Api-Version:
      - 1.17.0-1
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - api:default,api01-prod:8080
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-128.mashery.com
    body:
      encoding: UTF-8
      string: '{"id":15099980,"externalId":"1","firstName":"first","lastName":"last","suspended":false,"customFields":[]}'
  recorded_at: Tue, 01 Aug 2017 17:32:02 GMT
recorded_with: VCR 3.0.3
