---
http_interactions:
- request:
    method: post
    uri: https://auth.brivo.com/oauth/token?grant_type=password&password=brivo_password&username=brivo_username
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <authorization code>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:8080
    body:
      encoding: UTF-8
      string: '{"access_token":"<access token>","token_type":"bearer","refresh_token":"<refresh
        token>","expires_in":59,"scope":"brivo.api","jti":"07ed1263-fa43-4105-915a-6feb81bf01ee"}'
  recorded_at: Wed, 13 Sep 2017 14:50:47 GMT
- request:
    method: get
    uri: https://api.brivo.com/v1/api/users/1/external
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer <access token>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Brivo-Api-Version:
      - 1.18.1-5
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - api:default,api02-prod:8080
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-118.mashery.com
    body:
      encoding: UTF-8
      string: '{"id":15540773,"externalId":"1","firstName":"first","lastName":"last","suspended":false,"customFields":[]}'
  recorded_at: Wed, 13 Sep 2017 14:50:47 GMT
- request:
    method: delete
    uri: https://api.brivo.com/v1/api/users/15540773
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer <access token>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Brivo-Api-Version:
      - 1.18.1-5
      X-Application-Context:
      - api:default,api02-prod:8080
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-126.mashery.com
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 13 Sep 2017 14:50:48 GMT
- request:
    method: post
    uri: https://api.brivo.com/v1/api/users
    body:
      encoding: UTF-8
      string: '{"firstName":"first","lastName":"last","externalId":1,"suspended":false}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer <access token>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Brivo-Api-Version:
      - 1.18.1-5
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - api:default,api03-prod:8080
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-125.mashery.com
    body:
      encoding: UTF-8
      string: '{"id":15540774,"externalId":"1","firstName":"first","lastName":"last","suspended":false}'
  recorded_at: Wed, 13 Sep 2017 14:50:48 GMT
- request:
    method: get
    uri: https://api.brivo.com/v1/api/users/15540774
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer <access token>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Brivo-Api-Version:
      - 1.18.1-5
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - api:default,api03-prod:8080
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-112.mashery.com
    body:
      encoding: UTF-8
      string: '{"id":15540774,"externalId":"1","firstName":"first","lastName":"last","suspended":false,"customFields":[]}'
  recorded_at: Wed, 13 Sep 2017 14:50:48 GMT
recorded_with: VCR 3.0.3
