---
http_interactions:
- request:
    method: post
    uri: https://auth.brivo.com/oauth/token?grant_type=password&password=<password>&username=<username>
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <authorization code>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:8080
    body:
      encoding: UTF-8
      string: '{"access_token":"<access token>","token_type":"bearer","refresh_token":"<refresh
        token>","expires_in":59,"scope":"brivo.api","jti":"9a4b9cc8-695d-4e08-994d-46e673ad0a36"}'
  recorded_at: Sun, 16 Jul 2017 23:29:24 GMT
- request:
    method: post
    uri: https://api.brivo.com/v1/api/users
    body:
      encoding: UTF-8
      string: '{"firstName":"first","lastName":"last","externalId":null,"suspended":false}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer <access token>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Brivo-Api-Version:
      - 1.15.0-53
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - api:default,api01-prod:8080
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-112.mashery.com
    body:
      encoding: UTF-8
      string: '{"id":14948697,"firstName":"first","lastName":"last","suspended":false}'
  recorded_at: Sun, 16 Jul 2017 23:29:25 GMT
- request:
    method: get
    uri: https://api.brivo.com/v1/api/users/14948697
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer <access token>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Brivo-Api-Version:
      - 1.15.0-53
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - api:default,api01-prod:8080
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-129.mashery.com
    body:
      encoding: UTF-8
      string: '{"id":14948697,"firstName":"first","lastName":"last","suspended":false,"customFields":[]}'
  recorded_at: Sun, 16 Jul 2017 23:29:25 GMT
recorded_with: VCR 3.0.3
