---
http_interactions:
- request:
    method: post
    uri: https://auth.brivo.com/oauth/token?grant_type=password&password=brivo_password&username=brivo_username
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <authorization code>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:8080
    body:
      encoding: UTF-8
      string: '{"access_token":"<access token>","token_type":"bearer","refresh_token":"<refresh
        token>","expires_in":59,"scope":"brivo.api","jti":"695542ce-5c89-48af-a4e9-662fbcbf69c4"}'
  recorded_at: Wed, 13 Sep 2017 14:50:22 GMT
- request:
    method: post
    uri: https://api.brivo.com/v1/api/groups
    body:
      encoding: UTF-8
      string: '{"name":"group"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer <access token>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Brivo-Api-Version:
      - 1.18.1-5
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - api:default,api02-prod:8080
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-114.mashery.com
    body:
      encoding: UTF-8
      string: '{"id":15540762,"name":"group","keypadUnlock":false,"immuneToAntipassback":false}'
  recorded_at: Wed, 13 Sep 2017 14:50:22 GMT
- request:
    method: post
    uri: https://api.brivo.com/v1/api/users
    body:
      encoding: UTF-8
      string: '{"firstName":"first","lastName":"last","externalId":null,"suspended":false}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer <access token>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Brivo-Api-Version:
      - 1.18.1-5
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - api:default,api02-prod:8080
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-134.mashery.com
    body:
      encoding: UTF-8
      string: '{"id":15540763,"firstName":"first","lastName":"last","suspended":false}'
  recorded_at: Wed, 13 Sep 2017 14:50:22 GMT
- request:
    method: put
    uri: https://api.brivo.com/v1/api/groups/15540762/users/15540763
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer <access token>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Brivo-Api-Version:
      - 1.18.1-5
      X-Application-Context:
      - api:default,api01-prod:8080
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-115.mashery.com
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 13 Sep 2017 14:50:23 GMT
- request:
    method: get
    uri: https://api.brivo.com/v1/api/groups/15540762/users?offset=0&pageSize=100
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer <access token>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Brivo-Api-Version:
      - 1.18.1-5
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - api:default,api03-prod:8080
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-127.mashery.com
    body:
      encoding: UTF-8
      string: '{"data":[{"id":15540763,"firstName":"first","lastName":"last","suspended":false}],"offset":0,"pageSize":100,"count":1}'
  recorded_at: Wed, 13 Sep 2017 14:50:23 GMT
- request:
    method: get
    uri: https://api.brivo.com/v1/api/users/15540763/groups?offset=0&pageSize=100
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer <access token>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Brivo-Api-Version:
      - 1.18.1-5
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - api:default,api03-prod:8080
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-117.mashery.com
    body:
      encoding: UTF-8
      string: '{"data":[{"id":15540762,"name":"group"}],"count":1}'
  recorded_at: Wed, 13 Sep 2017 14:50:23 GMT
[...]
- request:
    method: get
    uri: https://api.brivo.com/v1/api/groups/15540762/users?offset=0&pageSize=100
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer <access token>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Brivo-Api-Version:
      - 1.18.1-5
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - api:default,api03-prod:8080
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-129.mashery.com
    body:
      encoding: UTF-8
      string: '{"data":[],"offset":0,"pageSize":100,"count":0}'
  recorded_at: Wed, 13 Sep 2017 14:50:24 GMT
recorded_with: VCR 3.0.3
