---
http_interactions:
- request:
    method: post
    uri: https://auth.brivo.com/oauth/token?grant_type=password&password=brivo_password&username=brivo_username
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <authorization code>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:8080
    body:
      encoding: UTF-8
      string: '{"access_token":"<access token>","token_type":"bearer","refresh_token":"<refresh
        token>","expires_in":59,"scope":"brivo.api","jti":"90735b73-e2dc-4ef4-a6e1-4f3c7857ac60"}'
  recorded_at: Thu, 31 Aug 2017 17:16:59 GMT
- request:
    method: post
    uri: https://api.brivo.com/v1/api/groups
    body:
      encoding: UTF-8
      string: '{"name":"group"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer <access token>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Brivo-Api-Version:
      - 1.18.1-5
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - api:default,api01-prod:8080
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-129.mashery.com
    body:
      encoding: UTF-8
      string: '{"id":15429365,"name":"group","keypadUnlock":false,"immuneToAntipassback":false}'
  recorded_at: Thu, 31 Aug 2017 17:16:59 GMT
- request:
    method: post
    uri: https://api.brivo.com/v1/api/users
    body:
      encoding: UTF-8
      string: '{"firstName":"first","lastName":"last","externalId":null,"suspended":false}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer <access token>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Brivo-Api-Version:
      - 1.18.1-5
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - api:default,api02-prod:8080
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-118.mashery.com
    body:
      encoding: UTF-8
      string: '{"id":15429366,"firstName":"first","lastName":"last","suspended":false}'
  recorded_at: Thu, 31 Aug 2017 17:17:00 GMT
- request:
    method: put
    uri: https://api.brivo.com/v1/api/groups/15429365/users/15429366
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer <access token>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Brivo-Api-Version:
      - 1.18.1-5
      X-Application-Context:
      - api:default,api01-prod:8080
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-128.mashery.com
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 31 Aug 2017 17:17:00 GMT
- request:
    method: get
    uri: https://api.brivo.com/v1/api/groups/15429365/users?offset=0&pageSize=100
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer <access token>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Brivo-Api-Version:
      - 1.18.1-5
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - api:default,api03-prod:8080
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-130.mashery.com
    body:
      encoding: UTF-8
      string: '{"data":[{"id":15429366,"firstName":"first","lastName":"last","suspended":false}],"offset":0,"pageSize":100,"count":1}'
  recorded_at: Thu, 31 Aug 2017 17:17:01 GMT
- request:
    method: get
    uri: https://api.brivo.com/v1/api/users/15429366/groups?offset=0&pageSize=100
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer <access token>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Brivo-Api-Version:
      - 1.18.1-5
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - api:default,api01-prod:8080
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-114.mashery.com
    body:
      encoding: UTF-8
      string: '{"data":[{"id":15429365,"name":"group"}],"count":1}'
  recorded_at: Thu, 31 Aug 2017 17:17:01 GMT
[...]
- request:
    method: get
    uri: https://api.brivo.com/v1/api/groups/15429365/users?offset=0&pageSize=100
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer <access token>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Brivo-Api-Version:
      - 1.18.1-5
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - api:default,api03-prod:8080
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-131.mashery.com
    body:
      encoding: UTF-8
      string: '{"data":[],"offset":0,"pageSize":100,"count":0}'
  recorded_at: Thu, 31 Aug 2017 17:17:02 GMT
recorded_with: VCR 3.0.3
