---
http_interactions:
- request:
    method: post
    uri: https://auth.brivo.com/oauth/token?grant_type=password&password=<password>&username=<username>
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <authorization code>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:8080
    body:
      encoding: UTF-8
      string: '{"access_token":"<access token>","token_type":"bearer","refresh_token":"<refresh
        token>","expires_in":59,"scope":"brivo.api","jti":"33210d05-804d-4d45-be6d-79e81d33da1b"}'
  recorded_at: Sun, 16 Jul 2017 23:29:22 GMT
- request:
    method: post
    uri: https://api.brivo.com/v1/api/users
    body:
      encoding: UTF-8
      string: '{"firstName":"first","lastName":"last","externalId":null,"suspended":false}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer <access token>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Brivo-Api-Version:
      - 1.15.0-53
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - api:default,api01-prod:8080
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-131.mashery.com
    body:
      encoding: UTF-8
      string: '{"id":14948696,"firstName":"first","lastName":"last","suspended":false}'
  recorded_at: Sun, 16 Jul 2017 23:29:22 GMT
- request:
    method: get
    uri: https://api.brivo.com/v1/api/users?offset=0&pageSize=100
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer <access token>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Brivo-Api-Version:
      - 1.15.0-53
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - api:default,api02-prod:8080
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-117.mashery.com
    body:
      encoding: UTF-8
      string: '{"data":[{"id":14608001,"externalId":"4","firstName":"fsdfsdfdsf","lastName":"asdasdsad","suspended":false},{"id":14671598,"firstName":"test","lastName":"fdssdfsf","suspended":false},{"id":14671599,"firstName":"test","lastName":"fdssdfsf","suspended":false},{"id":14671600,"firstName":"test","lastName":"fdssdfsf","suspended":false},{"id":14671601,"firstName":"test","lastName":"fdssdfsf","suspended":false},{"id":14671602,"firstName":"test","lastName":"fdssdfsf","suspended":false},{"id":14671603,"firstName[...]
[...]
