---
http_interactions:
- request:
    method: post
    uri: https://auth.brivo.com/oauth/token?grant_type=password&password=brivo_password&username=brivo_username
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <authorization code>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:8080
    body:
      encoding: UTF-8
      string: '{"access_token":"<access token>","token_type":"bearer","refresh_token":"<refresh
        token>","expires_in":59,"scope":"brivo.api","jti":"61f0a3d1-29b6-4db8-8de2-aa014f0eb2db"}'
  recorded_at: Wed, 13 Sep 2017 14:50:49 GMT
- request:
    method: get
    uri: https://api.brivo.com/v1/api/users/1/external
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer <access token>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Brivo-Api-Version:
      - 1.18.1-5
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - api:default,api01-prod:8080
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-119.mashery.com
    body:
      encoding: UTF-8
      string: '{"id":15540774,"externalId":"1","firstName":"first","lastName":"last","suspended":false,"customFields":[]}'
  recorded_at: Wed, 13 Sep 2017 14:50:49 GMT
- request:
    method: delete
    uri: https://api.brivo.com/v1/api/users/15540774
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer <access token>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Brivo-Api-Version:
      - 1.18.1-5
      X-Application-Context:
      - api:default,api01-prod:8080
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-120.mashery.com
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 13 Sep 2017 14:50:49 GMT
- request:
    method: post
    uri: https://api.brivo.com/v1/api/users
    body:
      encoding: UTF-8
      string: '{"firstName":"first","lastName":"last","externalId":1,"suspended":false}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer <access token>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Brivo-Api-Version:
      - 1.18.1-5
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - api:default,api01-prod:8080
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-131.mashery.com
    body:
      encoding: UTF-8
      string: '{"id":15540775,"externalId":"1","firstName":"first","lastName":"last","suspended":false}'
  recorded_at: Wed, 13 Sep 2017 14:50:50 GMT
- request:
    method: get
    uri: https://api.brivo.com/v1/api/users?offset=0&pageSize=100
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer <access token>
      Api-Key:
      - "<api key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Brivo-Api-Version:
      - 1.18.1-5
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - api:default,api02-prod:8080
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-133.mashery.com
    body:
      encoding: UTF-8
      string: '{"data":[{"id":15150324,"externalId":"32","firstName":"Paul","lastName":"Alexander","suspended":false},{"id":15150254,"externalId":"1549","firstName":"Niall","lastName":"Aye-maung","suspended":false},{"id":15150223,"externalId":"1248","firstName":"Andy","lastName":"Bellass","suspended":false},{"id":15150224,"externalId":"1256","firstName":"Dan","lastName":"Benatan","suspended":false},{"id":15150315,"externalId":"1045","firstName":"Matt","lastName":"Blewitt","suspended":false},{"id":15150305,"externalId"[...]
[...]
